/* Header styles. */
h1 {
    text-align: center;
    background-image: url("/assets/images/altocumulus.jpg");
    color: white;
    width:100%;
    padding:40px;
    font-style: italic;
  }
  /* Styles for the search element. */
  .input-group {
    margin-bottom: 15px;
  }
  .header-style {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }
  .search-for-city {
    font-size: 1vw;
    font-weight: bold;
  }
  /* Styles for the forecast cards. */
  .card {
    width:100%;
  }
  .fiveDay{    
    margin: 1vw;
  }
  /* Card date styles. */
  h3 {
    float:left;
  }
  /* Search button styles.*/ 
  .btn {
    width: 100%;
    border: 1px solid black;
    background-color: blue;
    color: aliceblue;
    font-size: .6vw;
    font-weight: bold;
    border-radius: .5vw;
    margin-bottom: 1vw;
    height: 1.5vw;
  }